#Ignore EVERYTHING
/*

#Don't ignore the battlegear mod src folder
!battlegear mod src/
battlegear mod src/minecraft/mods/battleclasses/

!battlegear api/

!battlegear gimp files

!battlegear dist/

!mods/

!src/

#Also don't ignore the install scripts. De en megis leszarom!
#!gradle*
#!gradle/
#!build.gradle

#Or this file ;) (or readme)
!.gitignore
!README.md
!ForumPost
!ItemStats.md
!LICENCE
!bg-logo.png
!mod.properties
!battlegear_update.xml
!changelog.md
!classesofwarcraft_update.json

#Don't ignore some battleclasses folders
!battleclasses image sources/
!battleclasses sound sources/

#Don't ignore src api folder
!src/


gradle/wrapper/gradle-wrapper.jar
